*{
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed, sans-serif;
    color: white;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #0e0c15;
}

::-webkit-scrollbar {
    display: none;
}

.backglow{
    position: absolute;
    height: 400px;
    width: 400px;
    right: 0;
    top: 100px;
    background-color: #0fc;
    border-radius: 9999px;
    filter: blur(25rem);
    z-index: 0;
}

.backglow1{
    position: absolute;
    height: 400px;
    width: 400px;
    left: -150px;
    top: 1000px;
    background-color: #c79;
    border-radius: 9999px;
    filter: blur(25rem);
    z-index: 0;
}

.backglow2{
    position: absolute;
    height: 400px;
    width: 400px;
    right: 0;
    top: 1600px;
    background-color: #b93;
    border-radius: 9999px;
    filter: blur(25rem);
    z-index: 0;
}

.backbody{
    position: relative;
    padding-top: 100px;
    height: 200vh;
    width: 100%;
}

p{
    font-size: 17px;
}

#alert{
    position: fixed;
    height: 0;
    width: 100vw;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#alertbg{
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: grey;
    opacity: 30%;
}

#alertbox{
    position: absolute;
    height: auto;
    max-width: 200px;
    width: auto;
    background-color: #474349;
    border-radius: 5px;
    z-index: 350;
    padding: 20px;

}

.header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(30px);
}

.header h1{
    margin: 0;
}

.header p{
    color: gray;
    font-weight: bold;
    transition: ease 150ms;
}

.header p:hover{
    color: white;
    transition: ease 150ms;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.leftside{
    width: 250px;
    display: flex;
    align-items: center;
}

.nestlogo{
    height: 60px;
    width: auto;
}

.title{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

.middle{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.rightside{
    width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.translation{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

#userIcon{
    width: 0;
    overflow: hidden;
    position: absolute;
}

#User{
    width: 0;
    overflow: hidden;
    position: absolute;
}

#signout{
    width: 0;
    overflow: hidden;
    position: absolute;
}

#loginScreen{
    position: fixed;
    height: 0;
    width: 100vw;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
}

.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #474349;
    opacity: 60%;
    z-index: 150;
}

#logx{
    position: absolute;
    margin-bottom: 200px;
    margin-left: 230px;
    height: 30px;
    width: 40px;
    color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 150ms;
    z-index: 250;
}

#logx:hover{
    color: white;
    background-color: red;
    cursor: pointer;
    transition: ease 150ms;
}

.bx{
    height: 250px;
    width: 300px;
    background-color: #474349;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 200;
}

.bx div{
    height: 220px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 200;
}

.bx input{
    border: 1px solid gray;
    height: 30px;
    width: 246px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    z-index: 200;
}

.bx button{
    height: 30px;
    width: 100%;
    background-color: purple;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    z-index: 200;
}

.bx button:hover{
    background-color: #606;
    cursor: pointer;
}

#signupScreen{
    position: fixed;
    height: 0;
    width: 100vw;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
    z-index: 200;
}

#signx{
    position: absolute;
    margin-bottom: 280px;
    margin-left: 230px;
    height: 30px;
    width: 40px;
    color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 150ms;
    z-index: 250;
}

#signx:hover{
    color: white;
    background-color: red;
    cursor: pointer;
    transition: ease 150ms;
}

.bx1{
    height: 330px;
    width: 300px;
    background-color: #474349;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.bx1 div{
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 200;
}

.bx1 input{
    border: 1px solid gray;
    height: 30px;
    width: 246px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    z-index: 200;
}

.bx1 button{
    height: 30px;
    width: 100%;
    background-color: purple;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    z-index: 200;
}

.bx1 button:hover{
    background-color: #606;
    cursor: pointer;
}

.container{
    height: 200vh;
    width: 100%;
    z-index: 0;
}

h1{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.volleyballpositions p{
    font-weight: bold;
}

.courts{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.courtpositions{
    height: 400px;
    width: 720px;
    display: flex;
}

.lol{
    height: 360px;
    width: 360px;
    border: 3px solid #979399;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.round{
    height: 80px;
    width: 80px;
    border: 3px solid #979399;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 60px;
}

.round2{
    height: 80px;
    width: 80px;
    border: 3px solid #979399;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-right: 60px;
}

.attackline{
    height: 360px;
    width: 1px;
    border: 1px solid #979399;
    background-color: #979399;
    position: absolute;
    margin-left: 120px;
}

.attackline2{
    height: 360px;
    width: 1px;
    border: 1px solid #979399;
    background-color: #979399;
    position: absolute;
    margin-right: 120px;
}

.courtdimensions{
    height: 400px;
    width: 960px;
    display: flex;
}

.courtdimensions p{
    font-weight: bold;
}

.bz{
    margin-left: 60px;
}

.net{
    position: absolute;
    margin-top: 370px;
    margin-left: 350px;
}

.al{
    position: absolute;
    margin-top: 370px;
    margin-left: 200px;
}

.sl{
    margin: 0;
    position: absolute;
    margin-top: 330px;
    margin-left: 120px;
}

.el{
    position: absolute;
    margin-left: 290px;
}

.sz{
    height: 360px;
    width: 240px;
    border: 3px dotted #979399;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sz p{
    margin: 0;
}

.schoolranking{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 350px;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    border-radius: 10px;
    overflow: hidden;
}

.box div{
    display: flex;
}

.searchhead{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px gray;
}

.searchnames{
    width: 70%;
    display: flex;
    align-items: center;
}

input{
    height: 50px;
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.searchroles{
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #979399;
    overflow: hidden;
    transition: ease 150ms;
}

.searchroles:hover{
    background-color: #474349;
    cursor: pointer;
    transition: ease 150ms;
}

#roles{
    height: 0;
    visibility: hidden;
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 535px;
    border: 2px solid #575359;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0e0c15;
}

.roles{
    width: 130px;
}

li{
    height: 35px;
    width: 170px;
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    align-items: center;
    transition: ease 200ms;
}

li:hover{
    background-color: #474349;
    transition: ease 200ms;
    cursor: pointer;
}

#ranking{
    height: 300px;
    width: 100%;
    display: flow;
    flex-direction: column;
    padding-top: 10px;
    overflow-y: scroll;
}

.lil{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nomer{
    margin-left: 20px;
    width: 30px;
}

.pner{
    margin-left: 10px;
    width: 100px;
}

.prole{
    margin-left: 400px;
    width: 150px;
}